.status-bar {
  height: 54px;
  width: 375px;
  position: relative;
  display: flex;
  align-items: center;
}

.status-bar-time {
  position: absolute;
  height: 54px;
  left: 0;
  right: 64.25%;
  top: 50%;
  transform: translateY(-50%);
}

.status-bar-time p {
  position: absolute;
  font-family: 'SF Pro', sans-serif;
  font-weight: 590;
  font-size: 17px;
  line-height: 22px;
  text-align: center;
  inset: 33.96% 32.46% 25.3% 32.48%;
  color: #000000;
}

.status-bar.dark .status-bar-time p {
  color: #ffffff;
}

.status-bar-levels {
  position: absolute;
  height: 54px;
  left: 64.25%;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.status-bar-battery {
  position: absolute;
  bottom: 33.33%;
  top: 42.59%;
  left: calc(50% + 24.63px);
  transform: translateX(-50%);
}

.battery-border {
  position: absolute;
  bottom: 33.33%;
  top: 42.59%;
  left: calc(50% + 23.47px);
  transform: translateX(-50%);
  width: 25px;
  height: 12px;
  border: 1px solid rgba(0, 0, 0, 0.35);
  border-radius: 4.3px;
}

.status-bar.dark .battery-border {
  border-color: rgba(255, 255, 255, 0.35);
}

.battery-cap {
  position: absolute;
  bottom: 41.01%;
  top: 51.45%;
  left: calc(50% + 37.63px);
  transform: translateX(-50%);
  width: 1.328px;
}

.battery-capacity {
  position: absolute;
  bottom: 37.04%;
  top: 46.3%;
  left: calc(50% + 23.47px);
  transform: translateX(-50%);
  width: 21px;
  height: 9px;
  background-color: #000000;
  border-radius: 2.5px;
}

.status-bar.dark .battery-capacity {
  background-color: #ffffff;
}

.status-bar-wifi {
  position: absolute;
  bottom: 33.4%;
  top: 43.77%;
  left: calc(50% - 4.76px);
  transform: translateX(-50%);
  width: 17.142px;
}

.status-bar-cellular {
  position: absolute;
  bottom: 33.77%;
  top: 43.58%;
  left: calc(50% - 30.43px);
  transform: translateX(-50%);
  width: 19.2px;
}

